name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      CONTAINER_NAME: ${{ github.event.repository.name }}
    strategy:
      matrix:
        version: [20.0.0, 21.1.1]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install dependencies
      run: npm ci

    - name: Build Sass
      run: npm run build:sass

    - name: Package theme
      run: npm run package

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Keycloak
      run: podman run --rm -d -p 8080:8080 -e KEYCLOAK_ADMIN=admin -e KEYCLOAK_ADMIN_PASSWORD=admin --mount type=bind,source=providers,target=/opt/keycloak/providers --mount type=bind,source=data,target=/opt/keycloak/data/import --name $CONTAINER_NAME quay.io/keycloak/keycloak:${{ matrix.version }} start-dev --import-realm --health-enabled=true

    - name: Wait for Keycloak
      run: |
        until curl --fail http://localhost:8080/health &> /dev/null
        do sleep 10
        echo waiting for keycloak
        done
        exit 0


    - name: Run Playwright tests
      run:
        npx playwright test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

    - name: Upload Podman logs
      run: podman logs $CONTAINER_NAME > podman.log
    - uses: actions/upload-artifact@v3
      if: always()
        with:
        name: podman.log
        path: podman.log
        retention-days: 30
