name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [20.0.0, 21.1.1]
    services:
      keycloak:
        image: quay.io/keycloak/keycloak:${{ matrix.version }}
        ports:
          - 8080:8080
        env:
          KEYCLOAK_ADMIN: admin
          KEYCLOAK_ADMIN_PASSWORD: admin
        volumes:
          - /provider:/opt/keycloak/provider
          - /data:/opt/keycloak/data/import
        options: >-
          --health-cmd curl --fail http://localhost:8080/health || exit 1
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          start-dev --import-realm --health-enabled=true

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install dependencies
      run: npm ci
    - name: Build Sass
      run: npm run build:sass
    - name: Package
      run: npm run package
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
